<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="koalicijeStyles.css">

    <script src="/index.js"></script>
    <script src="/kolaicije.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <style>
        body{
            font-family: 'Roboto', sans-serif;
        }
    </style>
    <link rel="shortcut icon" href="/Slike/NVOLogo.svg" type="image/x-icon">
    <title>Koalicije</title>
</head>
<body>
    <div id="header" class="header">

        <div class="header-container">
            <img src="/Slike/Logo_NVOa/NVOLogo.svg" alt="NVO">

            <div><h1>Koalicije</h1></div>

            <img style="visibility:hidden;" src="/Slike/NVOLogo.svg" alt="NVO">
        </div>
    </div>


    <div class="nav-bar">

        <div class="nav-options">
            <a href="/index"><button>O nama</button></a>
            <a href="/registri"><button>Registri</button></a>
            <a href="/pridruziSe"><button>Pridruži se</button></a>
            <a href="/zakonskaRegulativa"><button>Zakonska regulativa</button></a>
            <a href="/koalicije"><button>Koalicije</button></a>
            <a href="/savezi"><button>Savezi</button></a>
        </div>

        <div class="burger-menu-button">
            <button onclick="toggleMenu()"><img src="/Slike/Icons/burgerMenuIcon.svg" alt=""></button>
        </div>
        
        <div id="burger-menu-phone">
                        
            <div class="nav-options-burger-menu-contracted">
                <a href="/index"><button>O nama</button></a>
                <a href="/registri"><button>Registri</button></a>
                <a href="/pridruziSe"><button>Pridruži se</button></a>
                <a href="/zakonskaRegulativa"><button>Zakonska regulativa</button></a>
                <a href="/koalicije"><button>Koalicije</button></a>
                <a href="/savezi"><button>Savezi</button></a>
            </div>
        </div>

    </div>


    <div class="container">

        <div class="search">

            <h3 style="margin-bottom: 10px; font-size: 22px; font-weight: bolder;"> <center><b>Pretraga po nazivu</b></center> </h3>
            
            <form action="/koalicije" method="GET">

                <fieldset>
                    <div class="join-form">

                        <div class="koalicija">
                            <h3 style="font-size: 20px;">Koalicije</h3>
                            <input list="ko" name="koalicija">
                                <datalist id="ko">
                                    <% for(var i = 0; i<koalicije.length; i++){ %>
                                       <option value="<%=koalicije[i]%>"></option> 
                                       <% } %> 
                                </datalist>
                        </div>
                    </div>

                    <div id="submit-button1"><input type="submit"  style="font-size: 18px;" value=" &#128269; Traži" id="submit-button1"></div>
                </fieldset>

            </form>
            
        </div>

        <div class="search-results">

            <div id="result-container">
                <div class="detalji">
                <p style="text-align: center; font-size: 30px;"> <b><%= Ispis[0].Naziv %></b> </p>
                <br>
                <p style="font-size: 20px; text-align: justify;"><%- Ispis[0].Opis %></p>
                
                <!-- <p style="font-size: 20px; text-align: justify;" innerHTML = "" >  </p> -->
            </div>
            <div class="osoba">
                <h2 style="margin-bottom: 10px;"><i>Odgovorna osoba koalicije</i></h2>
                <p><b>Ime i prezime:  </b> <%= OdgOsoba[0].Ime%> <%= OdgOsoba[0].Prezime %></p> 
                <p><b>Email:</b>  <%= OdgOsoba[0].Email %></p> 
                <p><b>Telefon:</b>  <%= OdgOsoba[0].Telefon %></p> 
            </div>
                <br>
                <div class="pretraga">
                    <h1  style="margin-bottom: 10px;">Udruženja članice koalicije:</h1>
                    <% for(var i = 0; i<K.length; i++){ %> 
                        <p> <%= i+1 %>. <%= K[i].Naziv %> </p>
                        <% } %> 
                </div>
            </div>
    
        </div>

    </div>

    <div class="footer">NVO Cloud | &copy; Copyright | Sva prava zadržana </div>

    <div id="back-to-top">
        <a href="#header"><img src="/Slike/Icons/arrowUp.svg" alt="arrow"></a>
    </div>
</body>
</html>